<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.spring.mybatis.mapper.FilesMapper">
  <select id="getFilesById" resultType="cn.spring.mybatis.bean.videoFile">
        SELECT * FROM files WHERE id=#{id}
    </select>
    <select id="getFilesByChannelId" resultType="cn.spring.mybatis.bean.videoFile">
        SELECT * FROM files WHERE channelid=#{channelid}
    </select>

	<insert id="insertFiles" keyProperty="id"
		useGeneratedKeys="true">
		INSERT INTO
		files(id,channelid,filesize,path,starttime,stoptime) VALUES
		(#{id},#{channelid},#{filesize},#{path},#{starttime},#{stoptime})
	</insert>

	<update id="updateFiles" keyProperty="id">
		update files set
		fileSize=#{filesize},path=#{path},starttime=#{starttime},stoptime=#{stoptime}
		where channelid=#{channelid}
	</update>

</mapper>